* {
    transition-duration: 200ms;
}

body {

    background-color: #222;
}

.carousel {
    position: relative;
    max-height: calc(100vh - 30px);
    max-width: calc(100vw - 30px);
}


.carousel-cell {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
}

/* .carousel-cell.is-selected.split::before {
    content: "";
    left: 0%;
    min-width: 50%;
    min-height: 100%;
    box-shadow: 3px 0 35px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 7
}


.carousel-cell.is-selected.split::after {
    content: "";
    right: 0%;
    min-width: 50%;
    min-height: 100%;
    box-shadow: -3px 0 35px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 8
} */



.carousel-cell.is-selected  {
    transition-duration: 0ms;
    -webkit-transition-duration: 0ms;
    -moz-transition-duration: 0ms;
    -ms-transition-duration: 0ms;
    -o-transition-duration: 0ms;
}

/* .carousel-cell:not(.is-selected) {
    transition-duration: 700ms;
    -webkit-transition-duration: 700ms;
    -moz-transition-duration: 700ms;
    -ms-transition-duration: 700ms;
    -o-transition-duration: 700ms;
    transform: scaleX(0.0)scaleY(1);
    -webkit-transform: scaleX(0.0)scaleY(1);
    -moz-transform: scaleX(0.0)scaleY(1);
    -ms-transform: scaleX(0.0)scaleY(1);
    -o-transform: scaleX(0.0)scaleY(1);
} */

.carousel-cell:not(.is-selected) {
    transform: scaleX(1)scaleY(1);
    -webkit-transform: scaleX(1)scaleY(1);
    -moz-transform: scaleX(1)scaleY(1);
    -ms-transform: scaleX(1)scaleY(1);
    -o-transform: scaleX(1)scaleY(1);
    animation: 2000ms flipPage Forwards;
    -webkit-animation: 2s flipPage Forwards;
}

.carousel-cell:not(.is-selected)::after {
    content: "";
    right: 0%;
    min-width: 100%;
    min-height: 100%;
    /*background-color: #222222;
    */transition-duration: 0ms;
    position: absolute;
    z-index: 8;

}

@keyframes flipPage {

100% {
    transform: scaleX(0)scaleY(1);
    -webkit-transform: scaleX(0)scaleY(1);
    -moz-transform: scaleX(0)scaleY(1);
    -ms-transform: scaleX(0)scaleY(1);
    -o-transform: scaleX(0)scaleY(1);
}
}

.carousel-cell>img {
    max-height: calc(100vh - 30px);
    max-width: calc(100vw - 30px);

}

.flickity-button>.flickity-button-icon {
    color: #099ca6 !important;
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 15px !important;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-page-dots li.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;

    opacity: .25;
    cursor: pointer;

}

